{
  "extends": "@pancakeswap-libs/eslint-config-pancake",
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "src/setupTests.[jt]s?(x)",
          "src/testHelpers.[jt]s?(x)",
          "**/*.test.[jt]s?(x)",
          "rollup.config.js",
          "src/mocks/**"
        ]
      }
    ]
  },
  "overrides": [
    {
      "files": ["jest.setup.js"],
      "env": {
        "jest": true
      },
      "rules": {
        "import/no-extraneous-dependencies": 0
      }
    }
  ]
}
