# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
dist
storybook-static

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
