@import url('https://fonts.cdnfonts.com/css/super-tasty');

.kmJGWw {
    display: none !important; 
}
.hbAoxY {
    display: none !important; 
}
.hXPZot {
    display: none !important;
}
.NextLink__A-sc-c6707b7e-0 {
    display: none !important;
}
.KtpvB {
    display: none !important;
}
.gTnEN {
    z-index: 0 !important;
}
.site-logo {
    position: fixed;
    display: flex;
    align-items: center;
    top: -44px;
    left: 30px;
}
.site-logo >  div {
    font-family: 'Super Tasty', sans-serif;
    font-size: 20px;
}

.app-footer {
    height: 100px;
    background: #27262a;
    margin-bottom: -40px;
    padding: 60px 40px 0px 40px;
    display: flex;
    justify-content: center;
}
.footer-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #757575;
}

.buy-safemoon-btn {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: #1fc7d4;
    padding: 7px 12px;
    border-radius: 20px;
    font-size: 16px;
    color: #fff;
}

/* -----------Navbar--------------- */
.bygrhu {
    height: 57px !important;
    background-color: #5525B5 !important;
    border-bottom: none !important;
}






/* ------------------------ Production -------------------- */
/* ------------------------ Production -------------------- */
.dJoqat {
    display: none !important; 
}
.kuaSqQ {
    z-index: 0 !important; 
}
.jZuZkW {
    display: none !important;
}
.dZCEpb {
    display: none !important;
}
.bzhddt {
    display: none !important;
}
.ePcShU {
    z-index: 0 !important;
}
.dtdhBQ {
    display: none !important;
}
.dvPRWN {
    display: none !important;
}
.lgFtrU {
    display: none !important;
}

/* -----------Navbar Production--------------- */
.cWFqZr {
    height: 57px !important;
    background-color: #5525B5 !important;
    border-bottom: none !important;
}

.flip-image {
    animation: none !important;
    animation-delay: 0s;
    transform: rotateY(180deg);
}