/* styles.css (or any other CSS file) */
.slide-from-right-enter {
      transform: translateX(100%);
    }
    
    .slide-from-right-enter-active {
      transform: translateX(0);
      transition: transform 300ms ease-in-out;
    }
    
    .slide-from-right-exit {
      transform: translateX(0);
    }
    
    .slide-from-right-exit-active {
      transform: translateX(100%);
      transition: transform 300ms ease-in-out;
    }
    
    .slide-from-left-enter {
      transform: translateX(-100%);
    }
    
    .slide-from-left-enter-active {
      transform: translateX(0);
      transition: transform 300ms ease-in-out;
    }
    
    .slide-from-left-exit {
      transform: translateX(0);
    }
    
    .slide-from-left-exit-active {
      transform: translateX(-100%);
      transition: transform 300ms ease-in-out;
    }
    
    .modal-container {
      position: relative;
      overflow: hidden;
      background: 'black';
      height: 500px;
    }