.nft-list__wrapper {
  padding: 0px 50px;
}
.nft-list__collection {
  box-sizing: border-box;
  padding: 32px;
  width: 1340px;
  border-radius: 8px;
  height: 144px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #1C1C1E;
  border: 1px solid #3A3A3C;
}
.nft-list__collection-total-box {
  width: 360px;
  height: 80px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.nft-list__collection-icon {
  width: 80px;
  height: 80px;
  border-radius: 4px;
  /* border: 1px solid #fff; */
}
.nft-list__collection-total {

}
.nft-list__collection-name {
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
  color: #fff;
}
.nft-list__collection-icon-list {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.nft-list__collection-icon-item {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
}
.nft-list__collection-table {
  width: 900px;
  height: 52px;
}