.bottom-tab {
  box-sizing: content-box;
  position: fixed;
  display: flex;
  width: 100%;
  height: 49px;
  background: white;
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.03);
  bottom: 0;
  left: 0;
  justify-content: center;
  z-index: 1;
  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 94px;
    &-img {
      margin: 5px auto 0;
      width: 24px;
      height: 24px;
    }
    &-text {
      font-size: 14px;
      font-family: PingFangSC-Light, PingFang SC;
      font-weight: 400;
      color: #7a6eaa;
    }
  }
}
