name: Integration Tests

on:
  pull_request:
    branches:
      - develop

jobs:
  integration-tests:
    name: Integration tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
          registry-url: https://registry.npmjs.org
      - run: yarn install --frozen-lockfile
      - run: yarn cypress install
      - run: yarn build
        env:
          NEXT_PUBLIC_APP_SF_HEADER: ${{ secrets.SF_HEADER }}
      - run: yarn integration-test
